@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}

body {
    margin: 0;
    padding: 0;
    font-family: "MuseoModerno", sans-serif;
}

header {
    background-color: #333;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 30px rgb(0, 0, 0);
}

.logo-title {
    margin-left: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title h1 {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}

.logo-title span {
    margin-left: 2px;
    color: #f0a500;
}

.logo-title img {
    height: 2.4em;
    width: auto;
    margin-bottom: 4px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar i{
    color:#ffffff;
    width: auto;
    font-size: 1.5em;
    margin-top: 4px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 30px
}

.main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    color: #fff;
    font-weight: 500;
    transition: color 0.2s;
}

.main-nav a:hover {
    color: #f0a500;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 570px;
    color: #fff;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hero-content h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.section-recipes {
    background-color: #e4e4e4;
    padding: 50px 20px;
    text-align: center;
}

.section-recipes h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.featured-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
}

.featured-recipes a {
    text-decoration: none;
    color: #333;
}

.recipe-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.recipe-card img {
    border-radius: 10px;
    border: solid 1px #00000083;
    max-width: 100%;
}

.recipe-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.recipe-card p {
    color: #666;
}

.recipe-card:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: static;
    bottom: 0;
    margin: 0;
    width: 100%;
}

header.dulce {
     height: 200px;
}

.recetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*dos columnas iguales*/
    gap:20px;
    padding: 20px;
}
article.recipe {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px
    }

.recipe img {
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

.recipe h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.recipe p {
    font-size: 20px;
    color: #555;
    margin-right: 3px;
}