body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.content-box {
    width: 70%;
    background-color: white;
    margin: 80px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-left {
    flex: 1;
    padding: 30px;
    background-color: #f9f9f9;
}

.contact-left h2 {
    color: #f1c430;
    margin-bottom: 15px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    color: #555;
}

.contact-right {
    flex: 1;
    padding: 30px;
    background-color: #fff;
}

.contact-right h2 {
    color: #f1c430;
    margin-bottom: 10px;
}

.contact-right p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-input:focus {
    border-color: #f1c430;
}

.send-btn {
    background-color: #f1c430;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: bold;
}

.send-btn:hover {
    background-color: #d1a020;
}
 